extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")
	link(rel="stylesheet", href="../../modules/component.slider.css")
	//- link(rel="stylesheet", href="../../vendor/aos-master/dist/aos.css")

block body
		.header
			img(src="../../assets/img/logo.svg", alt="")

		.body
			section.sec1
				img.bg(src="../../assets/img/sec1b.png", alt="")

				.text.text1
					| Seja muito bem-vindo ao <span class="bold roxo">Treinamento Anual sobre os Procedimentos e Cuidados<br> Necessários com as Amostras Grátis de Medicamentos</span>, um conteúdo pensado<br> especialmente para você, <span class="bold">Representante, Gerente Distrital</span> ou <span class="bold">Gerente de <br>Produto da nossa Força de Vendas</span>, e responsável pela sua distribuição <br>junto aos profissionais de saúde.<br> <span class="bold roxo">Navegue e interaja pelo conteúdo, no final, você é nosso convidado<br> para testar seu aprendizado em nosso quiz :)!</span>
				.block.block1
					.text
						| <span class="bold azul">Para começar, <span class="link">clique para assistir</span> uma breve mensagem sobre a importância das amostras grátis em nosso negócio e porque precisamos ficar atentos a tudo que se refere a elas.</span><br><span class="bold roxo">Esperamos que tenha gostado.<br> Deixe sua opinião!</span>
					.icons
						img.icon1(src="../../assets/img/sec1_ico1.svg", alt="")
						img.icon2(src="../../assets/img/sec1_ico2.svg", alt="")
						img.icon3(src="../../assets/img/sec1_ico3.svg", alt="")
					.claque
						img.icon1(src="../../assets/img/sec1_item1.png", alt="")

			.secRef
				section.sec2
					.info
						img.sec2_ico1(src="../../assets/img/sec2_ico1.svg", alt="")
						.text.text1
							| <span class="bold roxo">Procedimento importante para a composição da<br> quantidade de amostras trabalhadas ::</span> <span class="bold roxo link2">Responsável: Gerente de Produto</span>
						.text.text1.mt0_5
							| Todo o processo de distribuição de amostras precisa ser contabilizado,<br> por isso, <span class="bold">é importante que o GP faça um controle ativo a fim de evitarmos o faturamento e um emprego desnecessário dos nossos recursos financeiros.</span>
						.text.text2
							| <span class="bold">O Gerente de Produto deve:</span>
						.text.text3
							| No <span class="bold">sistema Veeva CRM, rever o saldo ativo<br> analisando o ciclo atual -1</span>, por representante.<br> Determinada a quantidade, após o faturamento, as amostras são<br> encaminhadas para a casa dos colaboradores
							img.sec2_ico2(src="../../assets/img/sec2_ico2.png", alt="")
						.line.mt1
							img.sec2_ico2(src="../../assets/img/sec2_ico3.svg", alt="")
							.text.text4
								| <span class="bold azul"><span class="link">Clique</span> e conheça os limites máximos, por apresentação,<br> para os produtos da linha CVRM.</span>
						.text.text1.mt1
							| Após o faturamento, <span class="bold">as amostras são enviadas para a casa do Representante que deve fazer a confirmação de recebimento no sistema Veeva CRM</span>, um procedimento fácil e intuitivo.
						.line.mt1
							img.sec2_ico2(src="../../assets/img/sec2_ico4.svg", alt="")
							.text.text4
								| <span class="bold roxo">Vamos ver se você consegue ordenar o passo a passo?<br> É só arrastar para a posição que imagina.</span>
						
						.arrasteExercicio.mt1_5
							.arrasteExercicioBase
								.arra
									.number 1
									.cont
									.it.it1 Clicar no menu minhas amostras
								.arra
									.number 2
									.cont
									.it.it2 Clicar em 'Recibo de Amostras Pendentes'
								.arra
									.number 3
									.cont
									.it.it3 Confirmar o número do lote no sistema com o número que está na caixa da amostra
								.arra
									.number 4
									.cont
									.it.it4 Clicar no botão confirmar
								.arra
									.number 5
									.cont
									.it.it5 Informar a quantidade Recebida
								.arra
									.number 6
									.cont
									.it.it6 Salvar
							butom.confirmar
								| <span>Clique</span> para conferir.
							.feed.feed-pos
								img(src="../../assets/img/sec2_ico5.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Parabéns! Você acertou a ordem exata dos<br> procedimentos no Veeva. Fácil, não é?</span>
							.feed.feed-neg.mt1
								img(src="../../assets/img/sec2_ico6.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Ops! Quase ordenou corretamente as etapas.</span><br> Fixe bem a ordem que remontamos e, caso tenha dificuldades com esse procedimento, <span class="link">clique aqui</span> para assistir ao vídeo com as orientações completas que está disponível no Saba.
						
						.text.text1.mt1
								| <span class="roxo">Se preferir, acesse o vídeo a qualquer momento diretamente no Saba Cloud digitando no campo de buscas "Recebimento de Amostras".</span>
				
				section.sec3
					.info
						img.sec2_ico1(src="../../assets/img/sec3_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold rosa">Qualidade das Amostras</span>
						.text.textHalf.mt1
							| Agora, <span class="rosa bold">com as amostras sob responsabilidade dos Representantes</span>, <span class="bold">precisamos garantir que elas cheguem<br> aos médicos com a mesma qualidade<br> que saíram do nosso armazém</span>.<br> Zelar por essa qualidade é também <br>uma das importantes responsabilidades<br>desses profissionais.
						img.imf(src="../../assets/img/sec3_img3.png", alt="")
						.line.mt1_5
							img.sec2_ico2(src="../../assets/img/sec3_ico2.svg", alt="")
							.text.text4
								| <span class="bold rosa"><span class="link">Clique para assistir</span> às orientações sobre a importância da<br> correta armazenagem e manuseio dos medicamentos quando estão sob seus cuidados. </span><br>O que achou do vídeo? Deixe sua opinião!
							.icons
								img.icon1(src="../../assets/img/sec1_ico1.svg", alt="")
								img.icon2(src="../../assets/img/sec1_ico2.svg", alt="")
								img.icon3(src="../../assets/img/sec1_ico3.svg", alt="")
		
						.text.text1.mt1
								| <span class="bold">Então Representante, agora que temos... Amostras recebidas, confirmadas, registradas, devidamente armazenadas... #partiuVisitação</span>
								img.icon4(src="../../assets/img/sec3_ico3.svg", alt="")
				
				section.sec4
					.info
						img.sec2_ico1(src="../../assets/img/sec4_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold verde">Controle e gerenciamento <br>de entrega de amostras <br>junto aos HCPs</span>
						.text.textHalf.mt1
							|	Chegamos na <span class="verde bold">parte mais importante do <br> nosso trabalho com as amostras</span>, que é <br>justamente <span class="verde bold">a entrega delas aos médicos</span>. <br>Igualmente importante é termos a <br>informação exata das quantidades e lote das <br>amostras entregues para cada um deles <br> 
						img.imf(src="../../assets/img/sec4_img2.png", alt="")
						.text.mt1
							| <span class="bold">Utilize o Veeva CRM para realizar esse registro.</span>
						
						.arrasteExercicio.mt1
							.line
								img.sec2_ico2(src="../../assets/img/sec4_ico3.svg", alt="")
								.text.text4
									| <span class="bold verde">Vamos ver se consegue ordenar esse processo?</span>
							.arrasteExercicioBase.mt1_5
								.arra
									.number 1
									.cont
									.it.it1 Clicar em 'Documentar uma visita'
								.arra
									.number 2
									.cont
									.it.it2 Selecionar o nome do médico
								.arra
									.number 3
									.cont
									.it.it3 Seguir para aba 'amostras'
								.arra
									.number 4
									.cont
									.it.it4 Completar os dados da visita
								.arra
									.number 5
									.cont
									.it.it5 Selecionar o lote que será entregue
								.arra
									.number 6
									.cont
									.it.it6 Confirmar a quantidade
								.arra
									.number 7
									.cont
									.it.it6 Coletar assinatura do médico

							butom.confirmar
								| <span>Clique</span> para conferir.
							.feed.feed-pos
								img(src="../../assets/img/sec2_ico5.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Parabéns!<br> Notamos que já é um especialista nesse processo!</span>
							.feed.feed-neg.mt1
								img(src="../../assets/img/sec2_ico6.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Quase acertou a ordem dos processos!</span><br> Veja como remontamos e, caso tenha dificuldades com esse procedimento, <span class="link">clique aqui</span> para assistir ao vídeo com as orientações completas que está disponível no Saba.
						
						.text.text1.mt1
								| <span class="roxo">Você pode também assistir ao vídeo, a qualquer momento, diretamente no Saba Cloud digitando no campo de buscas ‘Visita com Amostras’.</span>
						
						




				
			//- section.sec2
			//- 	.boxline
			//- 		.line01.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 		.line02.wow.fadeInUp(data-wow-delay=".5s")
			//- 			p.txt O processo de entrega dos produtos até o Ponto de Venda (PDV) começa no Centro de Distribuição (CD) com a equipe #[br] de distribuição. Ela tem a responsabilidade de garantir que os produtos vendidos no dia anterior sejam entregues #[br] conforme planejamento (mapa de carga e roteirização).
			//- 		.box.vermelho.wow.fadeInLeft(data-wow-delay=".5s")
			//- 			p CD (Centro de Distribuição)
			//- 		.box.branco.wow.fadeInRight(data-wow-delay=".5s")
			//- 			p.txt PDV
			//- 			p (Ponto de Venda)
			//- 		img(src="../../assets/img/city.svg", alt="")
			
			//- section.sec3
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 		h3 Passo 1 - Antes de sair para a entrega
			//- 		.line2.bg_yeloow.wow.fadeInRight(data-wow-delay=".5s")
			//- 		p.txt Antes de sair para realizar a entrega, alguns procedimentos são fundamentais para garantir a segurança da equipe e, #[br] da carga; a qualidade do produto e a entrega ao cliente. Confira no vídeo a seguir.
			//- 	img.balcao(src="../../assets/img/sec3-balcao.svg", alt="")
			//- 	p.red #[b Clique no botão abaixo para visualizar o vídeo].
			//- 	video(src="../../assets/video/midia1.mp4" controls controlsList="nodownload" )
			//- 	.container
			//- 		.left
			//- 			p.txt Como você pode acompanhar no vídeo, antes de sair para a entrega é fundamental:
			//- 			ul
			//- 				li conferir se o documento está no porta luvas;
			//- 				li utilizar os EPIs;
			//- 				li estar com o uniforme;
			//- 				li conferir amarração;
			//- 				li checar nível de óleo;
			//- 				li conferir o cofre;
			//- 				li checar nível de água;
			//- 				li conferir calibragem dos pneus.
			//- 			p.txt1 Tudo estando #[i ok] e o mapa de carga em mãos, #[br] as entregas podem ser realizadas.
			//- 		.right 
			//- 			img.empilhadeira.wow.fadeInRight(data-wow-delay=".5s" src="../../assets/img/empilhadeira.svg", alt="")
			//- section.sec4
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	h3.title Passo 2 - A entrega
			//- 	.line2.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	img.sec4-img(src="../../assets/img/sec4-intro.svg", alt="")
			//- 	.container
			//- 		p A entrega já foi iniciada e, chegando ao PDV, é importante seguir algumas orientações para melhor atender o cliente. Confira, a seguir, no vídeo.
			//- 	.line3.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	p.txt-video #[b Clique no botão abaixo para visualizar o vídeo].
			//- 	video(src="../../assets/video/midia2.mp4" controls controlsList="nodownload" )
			//- 	.list
			//- 		p.sec4-title Como você acompanhou no vídeo, é fundamental no momento da entrega:
			//- 		ul
			//- 			li o ajudante auxiliar o motorista na manobra de marcha a ré;
			//- 			li abordar o dono do estabelecimento de forma adequada;
			//- 			li solicitar a conferência da nota fiscal por parte do dono do estabelecimento;
			//- 			li realizar a descarga do veículo;
			//- 			li amarrar a carga após cada entrega realizada;​
			//- 			li colocar os produtos no estoque, realizando o FIFO, ou seja, arrumando-os de acordo com a validade de cada produto;
			//- 			li.txt recolher os vasilhames que deverão retornar ao CD (os vasilhames com avarias não devem retornar ao CD, #[br] e o cliente deve ser informado);
			//- 			li receber o pagamento (dinheiro, cheque ou comprovante de débito ou crédito);
			//- 			li carimbar e informar o código do cliente, número do pedido e código do vendedor;
			//- 			li guardar o valor pago no cofre (mesmo os comprovantes de pagamento);
			//- 			li organizar o canhoto em ordem numérica, facilitando a prestação de contas.
			//- 		.danger
			//- 			img.danger-img(src="../../assets/img/danger.svg", alt="")
			//- 			p Durante todo o trajeto da entrega, preocupe-se com a sua segurança,#[br] viaje sempre na cabine e com o cinto afivelado.
			//- section.sec5
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	h3.title Passo 3 – Retorno ao CD
			//- 	.line2.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	p.txt-video Ao retornar para o CD, é fundamental realizar a prestação de contas e garantir que todo o valor recebido está correto. Clique no botão abaixo e confira as informações no vídeo.
			//- 	video(src="../../assets/video/midia3.mp4" controls controlsList="nodownload" )
			//- 	.container
			//- 		p O cofre inteligente existe para apoiar você, por isso, não deixe de utilizá-lo, ele ainda auxilia na verificação de notas falsas e em maus estados.
			//- 		p.txt Depois da contagem das notas, pegue o comprovante e finalize o acerto das entregas.
			//- 		.danger
			//- 			img.danger-img(src="../../assets/img/danger.svg", alt="")
			//- 			p Cheques, boletos e comprovantes da máquina de cartão também fazem parte do fechamento do mapa de carga.
			//- 		img.cofre(src="../../assets/img/cofre.png", alt="")
			//- 	//-.line3.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")

			//- section.sec7
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	h3.title Passo 4 - Cuidados e Prevenção ao CoronaVírus
			//- 	.line2.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.line3.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	p.txt-video #[b Clique no vídeo abaixo para visualizar o vídeo].
			//- 	video(src="../../assets/video/midia4.mp4" controls controlsList="nodownload" )
			//- 	.list
			//- 		p.sec4-title Como você acompanhou no vídeo, é fundamental:​
			//- 		ul
			//- 			li ​fazer higiene adequada das mãos a cada entrega;
			//- 			li evitar tocar o rosto, olhos, nariz e boca;
			//- 			li manter distanciamento físico entre as pessoas;​
			//- 			li usar sempre a máscara;​
			//- 			li ter sempre um jogo de máscara para efetuar a troca.​



			//- section.sec6#final
			//- 	.bg
			//- 	p O Grupo Petrópolis confia em você para seguir com o #[br] processo de entrega do produto ao #[br] cliente com responsabilidade e qualidade.  #[br]Contamos com você!
			//- 	.linha
			//- 	p.txt2 Para sair do treinamento, clique no botão x do seu navegador.
block scripts
	//- script(src="../../vendor/rellax.min.js")
	script(src="../../vendor/wow.min.js")
	script(src="script.js")

		
