extends ../../templates/page/template.page-base-adaptativo.pug

block styles
	link(rel="stylesheet", href="style.css")
	link(rel="stylesheet", href="../../modules/component.slider.css")
	//- link(rel="stylesheet", href="../../vendor/aos-master/dist/aos.css")

block body
		.header
			img(src="../../assets/img/logo.svg", alt="")

		.body
			section.sec1.wow.fadeInUp
				img.bg(src="../../assets/img/sec1b.png", alt="")

				.text.text1
					| Seja muito bem-vindo ao <span class="bold roxo">Treinamento Anual sobre os Procedimentos e Cuidados<br> Necessários com as Amostras Grátis de Medicamentos</span>, um conteúdo pensado<br> especialmente para você, <span class="bold">Representante, Gerente Distrital</span> ou <span class="bold">Gerente de <br>Produto da nossa Força de Vendas</span>, e responsável pela sua distribuição <br>junto aos profissionais de saúde.<br> <span class="bold roxo">Navegue e interaja pelo conteúdo, no final, você é nosso convidado<br> para testar seu aprendizado em nosso quiz :)!</span>
				.block.block1
					.text
						| <span class="bold azul">Para começar, <span class="link">clique para assistir</span> uma breve mensagem sobre a importância das amostras grátis em nosso negócio e porque precisamos ficar atentos a tudo que se refere a elas.</span><br><span class="bold roxo">Esperamos que tenha gostado.<br> Deixe sua opinião!</span>
					.icons
						img.icon1(src="../../assets/img/sec1_ico1.svg", alt="")
						img.icon2(src="../../assets/img/sec1_ico2.svg", alt="")
						img.icon3(src="../../assets/img/sec1_ico3.svg", alt="")
					.claque.wow.fadeInLeft.delay2
						img.icon1(src="../../assets/img/sec1_item1.png", alt="")

			.secRef
				section.sec2.wow.fadeInUp
					.info
						img.sec2_ico1(src="../../assets/img/sec2_ico1.svg", alt="")
						.text.text1
							| <span class="bold roxo">Procedimento importante para a composição da<br> quantidade de amostras trabalhadas ::</span> <span class="bold roxo link2">Responsável: Gerente de Produto</span>
						.text.text1.mt0_5
							| Todo o processo de distribuição de amostras precisa ser contabilizado,<br> por isso, <span class="bold">é importante que o GP faça um controle ativo a fim de evitarmos o faturamento e um emprego desnecessário dos nossos recursos financeiros.</span>
						.text.text2
							| <span class="bold">O Gerente de Produto deve:</span>
						.text.text3
							| No <span class="bold">sistema Veeva CRM, rever o saldo ativo<br> analisando o ciclo atual -1</span>, por representante.<br> Determinada a quantidade, após o faturamento, as amostras são<br> encaminhadas para a casa dos colaboradores
							img.sec2_ico2.wow.zoomIn(src="../../assets/img/sec2_ico2.png", alt="")
						.line.mt1
							img.sec2_ico2(src="../../assets/img/sec2_ico3.svg", alt="")
							.text.text4
								| <span class="bold azul"><span class="link">Clique</span> e conheça os limites máximos, por apresentação,<br> para os produtos da linha CVRM.</span>
						.text.text1.mt1
							| Após o faturamento, <span class="bold">as amostras são enviadas para a casa do Representante que deve fazer a confirmação de recebimento no sistema Veeva CRM</span>, um procedimento fácil e intuitivo.
						.line.mt1
							img.sec2_ico2(src="../../assets/img/sec2_ico4.svg", alt="")
							.text.text4
								| <span class="bold roxo">Vamos ver se você consegue ordenar o passo a passo?<br> É só arrastar para a posição que imagina.</span>
						
						.arrasteExercicio.mt1_5
							.arrasteExercicioBase
								.arra
									.number 1
									.cont
									.it.it1 Clicar no menu minhas amostras
								.arra
									.number 2
									.cont
									.it.it2 Clicar em 'Recibo de Amostras Pendentes'
								.arra
									.number 3
									.cont
									.it.it3 Confirmar o número do lote no sistema com o número que está na caixa da amostra
								.arra
									.number 4
									.cont
									.it.it4 Clicar no botão confirmar
								.arra
									.number 5
									.cont
									.it.it5 Informar a quantidade Recebida
								.arra
									.number 6
									.cont
									.it.it6 Salvar
							butom.confirmar.mt2
								| <span>Clique</span> para conferir.
							.feed.feed-pos.wow.fadeInRight
								img(src="../../assets/img/sec2_ico5.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Parabéns!</span><br> Você acertou a ordem exata dos procedimentos no Veeva. Fácil, não é?
							.feed.feed-neg.wow.fadeInRight
								img(src="../../assets/img/sec2_ico6.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Ops! Quase ordenou corretamente as etapas.</span><br> Fixe bem a ordem que remontamos e, caso tenha dificuldades com esse procedimento, <span class="link">clique aqui</span> para assistir ao vídeo com as orientações completas que está disponível no Saba.
						
						.text.text1.mt1.wow.fadeIn
								| <span class="roxo">Se preferir, acesse o vídeo a qualquer momento diretamente no Saba Cloud digitando no campo de buscas "Recebimento de Amostras".</span>
				
				section.sec3.wow.fadeInUp
					.info
						img.sec2_ico1(src="../../assets/img/sec3_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold rosa">Qualidade das Amostras</span>
						.text.textHalf.mt1
							| Agora, <span class="rosa bold">com as amostras sob responsabilidade dos Representantes</span>, <span class="bold">precisamos garantir que elas cheguem<br> aos médicos com a mesma qualidade<br> que saíram do nosso armazém</span>.<br> Zelar por essa qualidade é também <br>uma das importantes responsabilidades<br>desses profissionais.
						img.imf.wow.fadeInRight(src="../../assets/img/sec3_img3.png", alt="")
						.line.mt1_5
							img.sec2_ico2(src="../../assets/img/sec3_ico2.svg", alt="")
							.text.text4
								| <span class="bold rosa"><span class="link">Clique para assistir</span> às orientações sobre a importância da<br> correta armazenagem e manuseio dos medicamentos quando estão sob seus cuidados. </span><br>O que achou do vídeo? Deixe sua opinião!
							.icons
								img.icon1(src="../../assets/img/sec1_ico1.svg", alt="")
								img.icon2(src="../../assets/img/sec1_ico2.svg", alt="")
								img.icon3(src="../../assets/img/sec1_ico3.svg", alt="")
		
						.text.text1.mt1.wow.fadeIn
								| <span class="bold">Então Representante, agora que temos... Amostras recebidas, confirmadas, registradas, devidamente armazenadas... #partiuVisitação</span>
								img.icon4(src="../../assets/img/sec3_ico3.svg", alt="")
				
				section.sec4.wow.fadeInUp
					.info
						img.sec2_ico1(src="../../assets/img/sec4_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold verde">Controle e gerenciamento <br>de entrega de amostras <br>junto aos HCPs</span>
						.text.textHalf.mt1
							|	Chegamos na <span class="verde bold">parte mais importante do <br> nosso trabalho com as amostras</span>, que é <br>justamente <span class="verde bold">a entrega delas aos médicos</span>. <br>Igualmente importante é termos a <br>informação exata das quantidades e lote das <br>amostras entregues para cada um deles <br> 
						img.imf.wow.fadeInRight(src="../../assets/img/sec4_img2.png", alt="")
						.text.mt1
							| <span class="bold">Utilize o Veeva CRM para realizar esse registro.</span>
						
						.arrasteExercicio.mt1
							.line
								img.sec2_ico2(src="../../assets/img/sec4_ico3.svg", alt="")
								.text.text4
									| <span class="bold verde">Vamos ver se consegue ordenar esse processo?</span>
							.arrasteExercicioBase.mt1_5
								.arra
									.number 1
									.cont
									.it.it1 Clicar em 'Documentar uma visita'
								.arra
									.number 2
									.cont
									.it.it2 Selecionar o nome do médico
								.arra
									.number 3
									.cont
									.it.it3 Seguir para aba 'amostras'
								.arra
									.number 4
									.cont
									.it.it4 Completar os dados da visita
								.arra
									.number 5
									.cont
									.it.it5 Selecionar o lote que será entregue
								.arra
									.number 6
									.cont
									.it.it6 Confirmar a quantidade
								.arra
									.number 7
									.cont
									.it.it6 Coletar assinatura do médico

							butom.confirmar
								| <span>Clique</span> para conferir.
							.feed.feed-pos.wow.fadeInRight
								img(src="../../assets/img/sec2_ico5.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Parabéns!</span><br> Notamos que já é um especialista nesse processo!
							.feed.feed-neg.wow.fadeInRight
								img(src="../../assets/img/sec2_ico6.svg", alt="")
								.imgX
								.text.text4
									| <span class="bold">Quase acertou a ordem dos processos!</span><br> Veja como remontamos e, caso tenha dificuldades com esse procedimento, <span class="link">clique aqui</span> para assistir ao vídeo com as orientações completas que está disponível no Saba.
						
						.text.text1.mt1.wow.fadeIn
								| <span class="roxo">Você pode também assistir ao vídeo, a qualquer momento, diretamente no Saba Cloud digitando no campo de buscas "Visita com Amostras".</span>
			
				section.sec5.wow.fadeInUp
					.info
						img.sec2_ico1(src="../../assets/img/sec5_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold amarelo">Roubo, perda ou extravio<br> de amostras
						.text.textHalf.mt1
							|	Infelizmente, em nosso trato com as <br> amostras, estamos sujeitos ao extravio <br> no transporte e, eventualmente, <br> até mesmo a perda dos medicamentos. <br> <span class="bold">Em casos mais graves, as amostras <br> podem ser furtadas ou roubadas.</span>
						img.imf.wow.fadeInRight(src="../../assets/img/sec5_img1.png", alt="")
						.text.mt1_5
							| <span class="bold">Todas essas situações podem colocar em risco a saúde dos pacientes e a imagem da AstraZeneca uma vez que as amostras podem:</span>
						.block.mt1
							.text
								| <span class="bold bg_amarelo">• Servir de base para falsificações;</span><br> <span class="bold bg_amarelo">• Serem vendidas indiscriminadamente;</span> <span class="bold">e até mesmo;</span> <br> <span class="bold bg_amarelo">• Serem ingeridas sem orientações médicas.</span> 
						.line.mt1_5
								img.sec2_ico2.pulse(src="../../assets/img/sec5_ico2.svg", alt="")
								.text.text4
									| Por isso, o <span class="bold">fator tempo</span> é crucial para minimizar os danos <br> em situações como essas. <br> <span class="bold">E você sabe qual é seu prazo máximo de reação ao se deparar com qualquer uma dessas situação?</span> <br> <span class="bold cinza1">Clique no relógio para descobrir.</span>
						.block2.mt1_5.wow.fadeInUp
								img.sec2_ico2(src="../../assets/img/sec5_ico3b.svg", alt="")
								.text
									| Esse é o <span class="preto link bold">tempo máximo</span> que você tem para notificar a Matriz por meio do grupo no Outlook: +BRCZ_Roubos_Extravios_Ags. 
								.text.mt1
									<span class="preto bold">Em casos de furtos ou roubos,</span> além dessa notificação, <span class="bold">é mandatório que abra um Boletim de Ocorrência Policial</span> com uma descrição detalhada do incidente, informando o nome do produto, lote e quantidades subtraídas para que as autoridades competentes estejam cientes e possam tomar as providências cabíveis. 
								.text.mt1
									<span class="bold">Envie também uma cópia deste boletim para o grupo +BRCZ_Roubos_Extravios_Ags</span>. Se por qualquer motivo, o boletim de ocorrência policial elaborado não possuir todos os detalhes necessários, utilize o corpo do e-mail da sua notificação para acrescentar as informações essenciais que serão utilizadas pelos nossos times internos. <span class="preto bold">Lembre-se que qualquer informação pode fazer diferença na resolução do incidente, por isso, relate tudo que lembrar!</span>
						.text.mt1
							|	<span class="bold sizeRef">Mas, e se depois de tudo isso, as amostras por qualquer motivo forem encontradas?</span><br> Você deve informar também, se possível, imediatamente, ou no prazo máximo de até 24 horas, o grupo <span class="azul2">+BRCZ_Roubos_Extravios_Ags</span>, no Outlook.<br> No e-mail, descreva o nome do produto, lote e quantidades recuperados.
						.line.mt1
								img.sec2_ico2(src="../../assets/img/sec2_ico1.svg", alt="")
								.text
									| <span class="bold">Lembre-se de separar essas amostras das demais e aguarde orientações de como realizar a devolução para a AstraZeneca. Sob nenhuma hipótese, elas podem ser entregues aos médicos. </span>
						.text.mt1
							|	<span class="bold">E você sabe como podemos minimizar todos danos causados pelo roubo ou perda de amostras?</span>
						.line.mt1
								img.sec2_ico2(src="../../assets/img/sec5_ico4.svg", alt="")
								.text
									| <span class="bold">Entra aqui, novamente, a nossa regra de ouro:</span> <span class="link">sair de cada apenas com as amostras que serão entregues naquele dia</span>. E para minimizar ainda mais qualquer eventualidade, em suas visitas, coloque o carro sempre em estacionamento, na indisponibilidade de um, leve as amostras com você.
						.blockAzul.mt1_5.wow.fadeInLeft
							img.wow.zoomIn.delay2(src="../../assets/img/sec5_ico5.svg", alt="")
							.text
								| <span class="bold">Ao notar qualquer tipo de dano nas amostras ou aparência diferente<br> do padrão, sugerindo uma falsificação, informe imediatamente o SAC<br> usando o e-mail <span class="vermelho">sac@astrazeneca.com</span>.</span> Não abra, manipule as amostras ou tente corrigir as avarias e, principalmente, não distribua estas amostras. Nosso time de Garantia da Qualidade de Operações é o responsável pela identificação e procedência dos desvios levando os casos aos times globais. Por isso, nestes casos, <span class="bold">aguarde as orientações <br>de como proceder.</span>
				
				section.sec6.wow.fadeInUp
					.info
						img.sec2_ico1(src="../../assets/img/sec6_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold azul">Amostras vencidas
						.text.mt1
							|	<span class="bold azul">As amostras podem ser entregues aos <br> profissionais de saúde com até 3 meses<br> da data do seu vencimento.</span> Esse é o<br> prazo mínimo necessário para que ela<br> cumpra seu percurso logístico e tenha<br> tempo hábil para o médico iniciar um<br> tratamento com seus pacientes com<br> segurança. <span class="bold azul">É de suma importância que o<br> paciente não receba amostras com prazos de validade expirados.</span>
						img.imf.wow.fadeInRight(src="../../assets/img/sec6_img1.png", alt="")
						.text.mt1
							| Se, por qualquer motivo, as amostras estiverem com um prazo inferior a 3 meses, é necessário acionar o <span class="bold">processo de logística reversa para que elas voltem à AstraZeneca para destruição.</span>
						.line.mt1
								img.sec2_ico2.wow.fadeInUp(src="../../assets/img/sec6_ico2.svg", alt="")
								.text.bg_azul.wow.fadeInUp.delay1
									| <span class="bold">PROCEDIMENTO</span><br> Os <span class="bold">Representantes</span> devem alertar seu <span class="bold">Gerente Distrital</span> com as informações do produto, lote e quantidade, e aguardar orientações do operador logístico para a coleta dos medicamentos.<br><span class="bold">Os GDs, ao receber o alerta de seus representantes, precisam:</span><br>• Verificar com os demais membros de sua equipe se há mais amostras &nbsp;&nbsp;&nbsp;nas mesmas condições;<br>• Consolidar as informações passando um e-mail para o grupo +BRCZ &nbsp;&nbsp;&nbsp;FATURAMENTOPROMOCIONAL;<br><span class="bold">A partir daí, o operador logístico será notificado e seguirá com os processos internos para a coleta das amostras para sua destruição.</span>

				section.sec7.wow.fadeInUp
					.info
						img.sec2_ico1(src="../../assets/img/sec7_ico1.svg", alt="")
						.titulo.bold
							| <span class="bold verde2">O que fazer com as amostras nos casos de<br> movimentações de colaboradores?
						.text.mt1
							|	No decorrer do ano, é comum nos<br> depararmos com profissionais mudando<br> de linha, colegas assumindo <i>job rotations</i>,<br> se demitindo ou sendo desligados.<br> <span class="bold">E o que fazer com suas amostras<br> nesses casos?</span><br> Em casos de <span class="bold">movimentações internas</span>,<br> o próprio representante deve acessar o<br> Veeva CRM para realocar as amostras<br> para o perfil do GD.
						img.imf.wow.fadeInRight(src="../../assets/img/sec7_img1.png", alt="")
						.line.mt1
								img.sec2_ico2(src="../../assets/img/sec7_ico2.svg", alt="")
								.text
									| <span class="bold">Caso tenha dúvidas sobre esse procedimento, <span class="link">clique aqui</span> para<br> assistir ao vídeo ou, quando desejar, acesse o Saba Cloud digitando "transferência de amostras".</span>
						.text.mt1
							| Já nos casos de <span class="bold">movimentações externas</span> (pedido de demissão ou desligamento) é necessário que o GD siga as orientações do RH e, <span class="bold">no prazo de 24 horas</span>, preencha o formulário de declaração de materiais, confirme fisicamente as quantidades, conclua a transferência no Veeva e ajuste o inventário de AGs. 
					
				section.sec8.wow.fadeInUp
					img.robo.wow.zoomIn.delay1(src="../../assets/img/sec8_ico1.svg", alt="")
					.blokc
						.titulo.roxo2
								| <i>Recall</i> de amostras
						.text.mt1
							|	Você sabe o que fazer ou<br> qual a importância dos <i>recalls</i><br> de amostras?
						.text.mt1
							|	<span class="bold"> Confira no vídeo a importância<br> desse mecanismo de segurança em nosso negócio.</span>
						.text.mt1.textc
								| <span class="rosa">Gostou? Deixe sua opinião!</span><br>
						.icons
							img.icon1(src="../../assets/img/sec1_ico1.svg", alt="")
							img.icon2(src="../../assets/img/sec1_ico2.svg", alt="")
							img.icon3(src="../../assets/img/sec1_ico3.svg", alt="")
					.containerVideo.wow.zoomIn.delay2
						video(src="../../assets/video/video.mp4" controls controlsList="nodownload")
				
				section.sec9.wow.fadeInUp
					img.borderInt(src="../../assets/img/borderSec9.png", alt="")
					img.border(src="../../assets/img/borderSec9.png", alt="")
					.info
						.text
								|	<span class="azul bold">E esse é o conteúdo sobre Amostras Grátis que preparamos.</span>
						.text.text_right.mt0_5
								| <span class="roxo bold ">Convidamos você agora a testar seus conhecimentos, topa?</span>
						
						.containerExercicio
							.exercicioInit.exercicioInit1.mt2_5
								.indice 1
								.text.title.subtitulo
										<span class="rosa">Assim que as amostras chegam na casa dos Representantes, eles devem:</span>
								.alters
									.alter.alter1
										.selector
										.text.altTxt 
											<span class="azul">1. Sair pra visitação</span>
									.alter.alter2
										.selector
										.text.altTxt 
											<span class="azul">2. Avisar seu GD</span>
									.alter.alter3
										.selector
										.text.altTxt 
											<span class="azul">3. Confirmar o recebimento no Veeva</span>
									.alter.alter4
										.selector
										.text.altTxt 
											<span class="azul">4. Colocá-las no carro</span>
							
							.exercicioInit.exercicioInit2.mt2_5
								.indice 2
								.text.title.subtitulo
										<span class="rosa">Onde as amostras devem ser armazenadas após seu recebimento?</span>
								.alters
									.alter.alter1
										.selector
										.text.altTxt 
											<span class="azul">1. No carro</span>
									.alter.alter2
										.selector
										.text.altTxt 
											<span class="azul">2. Em um local limpo</span>
									.alter.alter3
										.selector
										.text.altTxt 
											<span class="azul">3. Longe de materiais de limpeza, inseticidas, insetos e poluição</span>
									.alter.alter4
										.selector
										.text.altTxt 
											<span class="azul">4. As alternativas 2 e 3 estão corretas</span>
							
							.exercicioInit.exercicioInit3.mt2_5
								.indice 3
								.text.title.subtitulo
										<span class="rosa">No que se refere a qualidade das amostras:</span>
								.alters
									.alter.alter1
										.selector
										.text.altTxt 
											<span class="azul">1. Elas simbolizam a imagem da AstraZeneca perante aos médicos</span>
									.alter.alter2.alterCustom
										.selector
										.text.altTxt 
											<span class="azul">2. Em condições inadequadas de armazenamento podem comprometer<br> sua eficácia</span>
									.alter.alter3
										.selector
										.text.altTxt 
											<span class="azul">3. Os times de campos são também responsáveis pelos seus cuidados</span>
									.alter.alter4
										.selector
										.text.altTxt 
											<span class="azul">4. Todas alternativas estão corretas</span>
								
							.exercicioInit.exercicioInit4.mt2_5
								.indice 4
								.text.title.subtitulo
										<span class="rosa">O que fazer em caso de roubo ou furto de amostras:</span>
								.alters
									.alter.alter1
										.selector
										.text.altTxt 
											<span class="azul">1. Abrir um boletim de ocorrência na delegacia mais próxima</span>
									.alter.alter2
										.selector
										.text.altTxt 
											<span class="azul">2. Informar ao GD</span>
									.alter.alter3.alterCustom
										.selector
										.text.altTxt 
											<span class="azul">3. Informar ao grupo +BRCZ_Roubos_Extravios_Ags enviando o boletim<br> de ocorrência aberto em até 24 horas</span>
									.alter.alter4.alterCustom
										.selector
										.text.altTxt 
											<span class="azul">4. Informar ao grupo +BRCZ_Roubos_Extravios_Ags imediatamente<br> após episódio</span>
								
							.exercicioInit.exercicioInit5.mt2_5
								.indice 5
								.text.title.subtitulo
										<span class="rosa">Em casos de <i>recall</i> de medicamentos:</span>
								.alters
									.alter.alter1.alterCustom
										.selector
										.text.altTxt 
											<span class="azul">1. Trata-se de um processo mandatório que vale também<br> para as amostras</span>
									.alter.alter2.alterCustom
										.selector
										.text.altTxt 
											<span class="azul">2. O representante tem um prazo de 48 horas para enviar as<br> informações solicitadas</span>
									.alter.alter3.alterCustom
										.selector
										.text.altTxt 
											<span class="azul">3. Trata-se de um processo válido apenas para os<br> medicamentos comercializados</span>
									.alter.alter4
										.selector
										.text.altTxt 
											<span class="azul">4. Alternativas 1 e 2 estão corretas</span>
							
							.btnConfrmar.mt1_5
								img(src="../../assets/img/sec9_ico1.png", alt="")
							
							.feed.feed-positivo1.mt1_5.wow.fadeInRight
								.ico
									img(src="../../assets/img/sec9_ico1.svg", alt="")
								.text
									| <span class="bold azul">Parabéns!<br> 
								.text
									| <span class="azul">Você assimilou todo o conteúdo! Siga em frente e bom trabalho!</span>
							
							.feed.feed-positivo2.mt1_5.wow.fadeInRight
								.ico
									img(src="../../assets/img/sec9_ico2.svg", alt="")
								.text
									| <span class="bold azul">Apenas uma questão errada!<br> 
								.text
									| <span class="azul">Veja com atenção qual seria a resposta correta e bom trabalho!</span>
							
							.feed.feed-negativo.mt1_5.wow.fadeInRight
								.ico
									img(src="../../assets/img/sec9_ico3.svg", alt="")
								.text
									| <span class="bold azul">Talvez seja melhor rever o conteúdo, o que acha?<br> 
								.text
									| <span class="azul">Esfrie a cabeça e tente novamente!</span>
			
			section.rodape.mt2_5.wow.fadeInUp
				.text
					| <span class="bold roxo">Caso tenha ficado alguma dúvida, você pode consultar a política completa<br> <span class="link">clicando aqui</span>.</span>


			//- section.sec2
			//- 	.boxline
			//- 		.line01.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 		.line02.wow.fadeInUp(data-wow-delay=".5s")
			//- 			p.txt O processo de entrega dos produtos até o Ponto de Venda (PDV) começa no Centro de Distribuição (CD) com a equipe #[br] de distribuição. Ela tem a responsabilidade de garantir que os produtos vendidos no dia anterior sejam entregues #[br] conforme planejamento (mapa de carga e roteirização).
			//- 		.box.vermelho.wow.fadeInLeft(data-wow-delay=".5s")
			//- 			p CD (Centro de Distribuição)
			//- 		.box.branco.wow.fadeInRight(data-wow-delay=".5s")
			//- 			p.txt PDV
			//- 			p (Ponto de Venda)
			//- 		img(src="../../assets/img/city.svg", alt="")
			
			//- section.sec3
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 		h3 Passo 1 - Antes de sair para a entrega
			//- 		.line2.bg_yeloow.wow.fadeInRight(data-wow-delay=".5s")
			//- 		p.txt Antes de sair para realizar a entrega, alguns procedimentos são fundamentais para garantir a segurança da equipe e, #[br] da carga; a qualidade do produto e a entrega ao cliente. Confira no vídeo a seguir.
			//- 	img.balcao(src="../../assets/img/sec3-balcao.svg", alt="")
			//- 	p.red #[b Clique no botão abaixo para visualizar o vídeo].
			//- 	video(src="../../assets/video/midia1.mp4" controls controlsList="nodownload" )
			//- 	.container
			//- 		.left
			//- 			p.txt Como você pode acompanhar no vídeo, antes de sair para a entrega é fundamental:
			//- 			ul
			//- 				li conferir se o documento está no porta luvas;
			//- 				li utilizar os EPIs;
			//- 				li estar com o uniforme;
			//- 				li conferir amarração;
			//- 				li checar nível de óleo;
			//- 				li conferir o cofre;
			//- 				li checar nível de água;
			//- 				li conferir calibragem dos pneus.
			//- 			p.txt1 Tudo estando #[i ok] e o mapa de carga em mãos, #[br] as entregas podem ser realizadas.
			//- 		.right 
			//- 			img.empilhadeira.wow.fadeInRight(data-wow-delay=".5s" src="../../assets/img/empilhadeira.svg", alt="")
			//- section.sec4
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	h3.title Passo 2 - A entrega
			//- 	.line2.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	img.sec4-img(src="../../assets/img/sec4-intro.svg", alt="")
			//- 	.container
			//- 		p A entrega já foi iniciada e, chegando ao PDV, é importante seguir algumas orientações para melhor atender o cliente. Confira, a seguir, no vídeo.
			//- 	.line3.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	p.txt-video #[b Clique no botão abaixo para visualizar o vídeo].
			//- 	video(src="../../assets/video/midia2.mp4" controls controlsList="nodownload" )
			//- 	.list
			//- 		p.sec4-title Como você acompanhou no vídeo, é fundamental no momento da entrega:
			//- 		ul
			//- 			li o ajudante auxiliar o motorista na manobra de marcha a ré;
			//- 			li abordar o dono do estabelecimento de forma adequada;
			//- 			li solicitar a conferência da nota fiscal por parte do dono do estabelecimento;
			//- 			li realizar a descarga do veículo;
			//- 			li amarrar a carga após cada entrega realizada;​
			//- 			li colocar os produtos no estoque, realizando o FIFO, ou seja, arrumando-os de acordo com a validade de cada produto;
			//- 			li.txt recolher os vasilhames que deverão retornar ao CD (os vasilhames com avarias não devem retornar ao CD, #[br] e o cliente deve ser informado);
			//- 			li receber o pagamento (dinheiro, cheque ou comprovante de débito ou crédito);
			//- 			li carimbar e informar o código do cliente, número do pedido e código do vendedor;
			//- 			li guardar o valor pago no cofre (mesmo os comprovantes de pagamento);
			//- 			li organizar o canhoto em ordem numérica, facilitando a prestação de contas.
			//- 		.danger
			//- 			img.danger-img(src="../../assets/img/danger.svg", alt="")
			//- 			p Durante todo o trajeto da entrega, preocupe-se com a sua segurança,#[br] viaje sempre na cabine e com o cinto afivelado.
			//- section.sec5
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	h3.title Passo 3 – Retorno ao CD
			//- 	.line2.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	p.txt-video Ao retornar para o CD, é fundamental realizar a prestação de contas e garantir que todo o valor recebido está correto. Clique no botão abaixo e confira as informações no vídeo.
			//- 	video(src="../../assets/video/midia3.mp4" controls controlsList="nodownload" )
			//- 	.container
			//- 		p O cofre inteligente existe para apoiar você, por isso, não deixe de utilizá-lo, ele ainda auxilia na verificação de notas falsas e em maus estados.
			//- 		p.txt Depois da contagem das notas, pegue o comprovante e finalize o acerto das entregas.
			//- 		.danger
			//- 			img.danger-img(src="../../assets/img/danger.svg", alt="")
			//- 			p Cheques, boletos e comprovantes da máquina de cartão também fazem parte do fechamento do mapa de carga.
			//- 		img.cofre(src="../../assets/img/cofre.png", alt="")
			//- 	//-.line3.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")

			//- section.sec7
			//- 	.line1.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.intro.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	h3.title Passo 4 - Cuidados e Prevenção ao CoronaVírus
			//- 	.line2.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	.line3.bg_yeloow.wow.fadeInLeft(data-wow-delay=".5s")
			//- 	p.txt-video #[b Clique no vídeo abaixo para visualizar o vídeo].
			//- 	video(src="../../assets/video/midia4.mp4" controls controlsList="nodownload" )
			//- 	.list
			//- 		p.sec4-title Como você acompanhou no vídeo, é fundamental:​
			//- 		ul
			//- 			li ​fazer higiene adequada das mãos a cada entrega;
			//- 			li evitar tocar o rosto, olhos, nariz e boca;
			//- 			li manter distanciamento físico entre as pessoas;​
			//- 			li usar sempre a máscara;​
			//- 			li ter sempre um jogo de máscara para efetuar a troca.​



			//- section.sec6#final
			//- 	.bg
			//- 	p O Grupo Petrópolis confia em você para seguir com o #[br] processo de entrega do produto ao #[br] cliente com responsabilidade e qualidade.  #[br]Contamos com você!
			//- 	.linha
			//- 	p.txt2 Para sair do treinamento, clique no botão x do seu navegador.
block scripts
	//- script(src="../../vendor/rellax.min.js")
	script(src="../../vendor/wow.min.js")
	script(src="script.js")

		
