//
:root {
    --tablet: 900; // controle para o exercicio de arraste.
}

*[draggable="true"] {
  user-select: none;
  -khtml-user-drag: element;
  cursor: move;
}

*:-khtml-drag {
  background-color: rgba(238, 238, 238, 0.1);
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  background-color: #C6D5D2;
  overflow-x: hidden;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 4.5em;
  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0em 0em 1em 0.5em rgba(0, 0, 0, 0.1);
  z-index: 99999;
  border-bottom: 0.5em solid #800058;

  img{
    position: relative;
    height: 50%;
    object-fit: contain;

  }
}
.mr-horz,
.mr-full{
  position: relative;
  display:flex;
  justify-content: center;
  // align-items: center;
}

.body {
  position: relative;
  width: 90%;
  height: auto;
  top: 4.5em;
}

.bold{
  font-weight: 500;
}

.sizeRef{
  font-size: 0.95em;
}


.cinza1{
  color: #5A6E7F;
}

.preto{
  color: #000;
}
.azul{
  color: #003660; 
}
.cinza3{
  color: #231F20 !important;
}

.bg_azul{
  background-color: #003660;
  padding: 0.5em; 
}

.azul2{
  color: #312782;
}

.roxo{
  color: #850052; 
}

.roxo2{
  color: #B2006E; 
}


.rosa{
  color: #EB0088;
}

.bg_rosa{
  background-color: #EB0088;
}

.verde{
  color: #8E9C28;
}

.verde2{
  color: #203232;
}

.amarelo{
  color: #FBAE17;
}

.bg_amarelo{
  background-color: #FBAE17;
  padding: 0.2em;
}

.vermelho{
  color: #BD1622;
}


.link{
  cursor:pointer;
  text-decoration: underline;
}

.link2{
  text-decoration: underline;
}

.text{
  font-size: 1.6em;
  line-height: 1.5;
  color: #231F20;
  z-index: 1;
  font-weight: 300;
}

.text_right{
  text-align: right;
}

.titulo{
  position: relative;
  font-size: 2.2em;
  font-weight: bold;

  i{
    font-style: italic;
  }
}

.subtitulo{
  font-weight: bold;
  font-size: 1.4rem;
  i{
    font-style: italic;
  }
}


.mt0_5{
  margin-top: 0.5em;
}

.mt1{
  margin-top: 1em;
}

.mt1_5{
  margin-top: 1.5em;
}

.mt2{
  margin-top: 2em;
}

.mt2_5{
  margin-top: 2.5em;
}


.sec1 {
  position: relative;
  // background: #9cb4af;
  // box-shadow: 0em 0em 1em 0.5em rgba(0, 0, 0, 0.1);
  min-height: 35em;
  z-index: 2;

  .bg{
    position: absolute;
    top: -1em;
    width: 96.5em;
    left: -6.5em;
    object-fit: cover;
    opacity: 1;
    z-index: 0;
  }

  .text1{
    position:absolute;
    top: 0;
    left: 0;
    padding: 2em;
  }

  .block{
    position: absolute;
    width: 28.5em;
    padding: 0;
    background-color: rgba(238, 238, 238, 0.9);
    top: 21.5em;
    left: 8.5em;

      .text{
        padding: 1.2em;
      }

      .icons{
        position: absolute;
        width: 40%;
        display:flex;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        right: 1em;

        img{
          position: relative;
          width:30%;
          height:4em;
          object-fit:contain;
          cursor: pointer;
        }
      }

      .claque{
        position:absolute;
        left: -19em;
        top: 2.4em;
        width: 20em;
        img{
          position: relative;
          width:100%;
          object-fit:contain;
        }
      }
  }
}

.secRef{
  position:relative;
  top: 13em;
}

.sec2{
  position: relative;
  width:100%;
  background-color: #fff;
  min-height: 10em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  
  .sec2_ico1{
    position: absolute;
    width: 4em;
    object-fit:contain;
    top: 2.5em;
    left: 0.4em;
  }

  .info{
    position: relative;
    width:100%;
    padding: 2em 5em;
  }

  .text2{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    
    .bold{
      border-bottom: 0.1em solid #FF9B20;
      padding: 0em 0.5em;
    }
  }

  .text3{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-left: 0.1em solid #FF9B20;
    padding: 0em 0.7em;

    .sec2_ico2{
      position: absolute;
      width:10em;
      object-fit:contain;
      top: 0;
      right:0;
    }
  }
  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:10%;
      object-fit: contain;
    }

    .text{
      position: relative;
      width: 88%;
    }
  }
}

.sec3{
  position: relative;
  width:100%;
  background-color: #fff;
  min-height: 10em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin-top: 2em;
  border-top: 1.5em solid #EB0088;

  .titulo{
    position: relative;
    margin-top: 0.6em;
  }

  .textHalf{
    position: relative;
    width: 53%;
  }

  .sec2_ico1{
    position: absolute;
    width: 4em;
    object-fit:contain;
    top: 2.5em;
    left: 0.4em;
  }

  .info{
    position: relative;
    width:100%;
    padding: 2em 5em;
  }

  .imf{
    position: absolute;
    top: 0;
    right: -12em;
    width: 40em;
    object-fit:contain;
  }

  .text2{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    
    .bold{
      border-bottom: 0.1em solid #FF9B20;
      padding: 0em 0.5em;
    }
  }

  .text3{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-left: 0.1em solid #FF9B20;
    padding: 0em 0.7em;

    .sec2_ico2{
      position: absolute;
      width:10em;
      object-fit:contain;
      top: 0;
      right:0;
    }
  }
  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    // align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:20%;
      object-fit: contain;
      object-position: top;
    }

    .text{
      position: relative;
      width: 75%;
    }
  }

  .icons{
    position: absolute;
    width: 10em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    bottom: -0.9em;
    right: 2em;

    img{
      position: relative;
      width:30%;
      height:4em;
      object-fit:contain;
      cursor: pointer;
    }
  }

  .icon4{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    right: 10em;
    bottom: 1.5em;
  }

}

.sec4{
  position: relative;
  width:100%;
  background-color: #fff;
  min-height: 10em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin-top: 2em;
  border-top: 1.5em solid #8E9C28;

  .titulo{
    position: relative;
    margin-top: 0.6em;
  }

  .textHalf{
    position: relative;
    width: 53%;
  }

  .sec2_ico1{
    position: absolute;
    width: 4em;
    object-fit:contain;
    top: 2.5em;
    left: 0.4em;
  }

  .info{
    position: relative;
    width:100%;
    padding: 2em 5em;
  }

  .imf{
    position: absolute;
    top: 0;
    right: -12em;
    width: 40em;
    object-fit:contain;
  }

  .text2{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    
    .bold{
      border-bottom: 0.1em solid #FF9B20;
      padding: 0em 0.5em;
    }
  }

  .text3{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-left: 0.1em solid #FF9B20;
    padding: 0em 0.7em;

    .sec2_ico2{
      position: absolute;
      width:10em;
      object-fit:contain;
      top: 0;
      right:0;
    }
  }
  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    // align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:20%;
      object-fit: contain;
      object-position: top;
    }

    .text{
      position: relative;
      width: 75%;
    }
  }

  .icons{
    position: absolute;
    width: 10em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    bottom: -0.9em;
    right: 2em;

    img{
      position: relative;
      width:30%;
      height:4em;
      object-fit:contain;
      cursor: pointer;
    }
  }

  .icon4{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    right: 10em;
    bottom: 1.5em;
  }

}

.sec5{
  position: relative;
  width:100%;
  background-color: #fff;
  min-height: 10em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin-top: 2em;
  border-top: 1.5em solid #8E9C28;

  .block2{
    background-color: #FBAE17;
    padding: 2em 0.5em;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    .text{
      color: #fff;
    }

    img{
      width: 10em;
      margin-bottom: 1.5em;
    }

  }

  .titulo{
    position: relative;
    margin-top: 0.6em;
  }

  .textHalf{
    position: relative;
    width: 53%;
  }

  .sec2_ico1{
    position: absolute;
    width: 4em;
    object-fit:contain;
    top: 2.5em;
    left: 0.4em;
  }

  .info{
    position: relative;
    width:100%;
    padding: 2em 5em;
  }

  .imf{
    position: absolute;
    top: 0;
    right: -12em;
    width: 40em;
    object-fit:contain;
  }

  .text2{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    
    .bold{
      border-bottom: 0.1em solid #FF9B20;
      padding: 0em 0.5em;
    }
  }

  .text3{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-left: 0.1em solid #FF9B20;
    padding: 0em 0.7em;

    .sec2_ico2{
      position: absolute;
      width:10em;
      object-fit:contain;
      top: 0;
      right:0;
    }
  }
  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    // align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:20%;
      object-fit: contain;
      // object-position: top;
    }

    .text{
      position: relative;
      width: 75%;
    }
  }

  .icons{
    position: absolute;
    width: 10em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    bottom: -0.9em;
    right: 2em;

    img{
      position: relative;
      width:30%;
      height:4em;
      object-fit:contain;
      cursor: pointer;
    }
  }

  .icon4{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    right: 10em;
    bottom: 1.5em;
  }

  .block{
    margin-left: 2em;
  }

  .blockAzul{
    position: relative;
    background: #86D2E0;
    padding: 1em;
    left: -7em;
    width: 120%;
    padding-left: 7.1em;
    box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);

    img{
      position: absolute;
      top: -1em;
      right: -1.5em;
      object-fit: contain;
      width: 10em;
    }
  }

}

.sec6{
  position: relative;
  width:100%;
  background-color: #fff;
  min-height: 10em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin-top: 2em;
  border-top: 1.5em solid #003660;

  .block2{
    background-color: #FBAE17;
    padding: 1em 0.5em;
    color: #fff;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    .text{
      color: #fff;
    }

    img{
      width: 10em;
      margin-bottom: 1.5em;
    }

  }

  .titulo{
    position: relative;
    margin-top: 0.6em;
  }

  .textHalf{
    position: relative;
    width: 53%;
  }

  .sec2_ico1{
    position: absolute;
    width: 4em;
    object-fit:contain;
    top: 2.5em;
    left: 0.4em;
  }

  .info{
    position: relative;
    width:100%;
    padding: 2em 5em;
  }

  .imf{
    position: absolute;
    top: 0;
    right: -12em;
    width: 40em;
    object-fit:contain;
  }

  .text2{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    
    .bold{
      border-bottom: 0.1em solid #FF9B20;
      padding: 0em 0.5em;
    }
  }

  .text3{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-left: 0.1em solid #FF9B20;
    padding: 0em 0.7em;

    .sec2_ico2{
      position: absolute;
      width:10em;
      object-fit:contain;
      top: 0;
      right:0;
    }
  }
  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    // align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:10%;
      object-fit: contain;
      object-position: top;
      margin-right: 1em;
    }

    .text{
      position: relative;
      width: 90%;
      color: #fff;
    }
  }

  .icons{
    position: absolute;
    width: 10em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    bottom: -0.9em;
    right: 2em;

    img{
      position: relative;
      width:30%;
      height:4em;
      object-fit:contain;
      cursor: pointer;
    }
  }

  .icon4{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    right: 10em;
    bottom: 1.5em;
  }

  .block{
    margin-left: 2em;
  }

  .blockAzul{
    position: relative;
    background: #86D2E0;
    padding: 1em;
    left: -7em;
    width: 120%;
    padding-left: 7.1em;
    box-shadow: 1px -1px 5px 0px rgba(0,0,0,0.75);

    img{
      position: absolute;
      top: -1em;
      right: -1.5em;
      object-fit: contain;
      width: 10em;
    }
  }

}

.sec7{
  position: relative;
  width:100%;
  background-color: #fff;
  min-height: 10em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin-top: 2em;
  border-top: 1.5em solid #203232;


  .titulo{
    position: relative;
    margin-top: 0.6em;
  }

  .textHalf{
    position: relative;
    width: 53%;
  }

  .sec2_ico1{
    position: absolute;
    width: 4em;
    object-fit:contain;
    top: 3.2em;
    left: 0.4em;
  }

  .info{
    position: relative;
    width:100%;
    padding: 2em 5em;
  }

  .imf{
    position: absolute;
    top: 8.2em;
    right: -12em;
    width: 40em;
    object-fit:contain;
  }

  .text2{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    
    .bold{
      border-bottom: 0.1em solid #FF9B20;
      padding: 0em 0.5em;
    }
  }

  .text3{
    position: relative;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 2em;
    border-left: 0.1em solid #FF9B20;
    padding: 0em 0.7em;

    .sec2_ico2{
      position: absolute;
      width:10em;
      object-fit:contain;
      top: 0;
      right:0;
    }
  }
  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    // align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:10%;
      object-fit: contain;
      object-position: top;
      margin-right: 1em;
    }

    .text{
      position: relative;
      width: 90%;
    }
  }

  .icons{
    position: absolute;
    width: 10em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    bottom: -0.9em;
    right: 2em;

    img{
      position: relative;
      width:30%;
      height:4em;
      object-fit:contain;
      cursor: pointer;
    }
  }

  .icon4{
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    object-fit: contain;
    right: 10em;
    bottom: 1.5em;
  }

  .block{
    margin-left: 2em;
  }
}

.sec8{
  position: relative;
  width:80%;
  background-color: #FEE8C9;
  min-height: 20em;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  margin: 0 auto;
  margin-top: 4em;
  border-radius: 2em;

  .titulo{
    font-size: 1.8em;
  }

  .robo{
    position: absolute;
    top: -2em;
    left: -6em;
    width: 13em;
    object-fit:contain;
  }

  .containerVideo{
    position: absolute;
    box-shadow: 1px 1px 5px 0px rgb(0 0 0 / 75%);
    background: rgb(41, 41, 41);
    width: 26em;
    height: 14.85em;
    top: -2em;
    right: -6em;
    border: 0.2em solid #fff;

    video{
      position: relative;
      width:100%;
      height:100%;
    }
  }

  .blokc{
    position: relative;
    padding: 1.5em 7.5em;

    .textc{
      text-align: center;
    }

    // .titulo{
    //   font-weight: 300;
    // }

    .icons{
      position: absolute;
      width: 10em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      bottom: 1em;
      right: 5em;

      img{
        position: relative;
        width:30%;
        height:4em;
        object-fit:contain;
        cursor: pointer;
      }
    }
  }


}

.sec9{
  position: relative;
  width:100%;
  background-color: #9cb6b3;
  min-height: 10em;
  box-shadow: 0px 0px 5px 0px rgb(0,0,0); 
  margin-top: 3.5em;
  padding-bottom: 3em;

  .borderInt{
    position: absolute;
    width: 100%;
    top: -3.9em;
    object-position:top;
    filter: drop-shadow(0px 0px 2px rgb(0, 0, 0));
    z-index: -9;
  }
  
  .border{
    position: absolute;
    width: 100%;
    top: -3.9em;
    object-position:top;
  }

  .info{
    position: relative;
    width:100%;
    padding: 0em 5em;
    padding-top: 1em;
  }
  
}

.rodape{
  position: relative;
  background-color: #fff;
  border-bottom: 1.5em solid #850052;
  padding: 2em 1em;
  top: 13em;
  width: 120%;
  left: 50%;
  margin-left: -60%;

  .text{
    text-align: center;
  }
}

.arrasteExercicio{
  position: relative;
  width:100%;

  .line{
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
  
    img{
      position: relative;
      width:10%;
      object-fit: contain;
    }

    .text{
      position: relative;
      width: 88%;
    }
  }

  .inativoArraste{
    pointer-events: none;
  }

  .arrasteExercicioBase{
    margin-bottom: 1em;
    position: relative;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 0.5em;

    .numbs{
      width: 3em;
      .number{
        position: relative;
        width: 3em;
        height: 3em;
        border-radius: 50%;
        display:flex;
        justify-content:center;
        align-items: center;
        font-size: 1em;
        color: #fff;
        background-color: #003660;
        margin-right: 0.5em;
        padding-top: 0.1em;
        margin-bottom: 0.5em;
      }
    }

    .itCons,
    .contCons{
      position: relative;
      width: 45%;
    }
  }

  
    .contContainer{
      position: relative;
      height: 3em;
      width: 100%;
      margin-bottom: 0.5em;
    }

    .itContainer{
      position: relative;
      height: 3em;
      width: 100%;
      margin-bottom: 0.5em;
    }

    .cont{
      position: relative;
      height: 100%;
      width: 100%;
      background-color: #ECECEC;
      margin-right: 1em;

      &[erro="1"] {
        .it{
          background-color: #E32E53;
          color:#fff;

          &::after{
            position: absolute;
            content:attr(arraste);
            width: 1.5em;
            height:1.5em;
            background: #fff;
            border-radius: 50%;
            display:flex;
            justify-content:center;
            align-items: center;
            top: 50%;
            margin-top: -0.75em;
            right: 0.5em;
            font-family: sans-serif;
            font-weight: bold;
            color: #E32E53;
          }

        }
      }
      
    }

    .it{
      position: relative;
      height: 100%;
      width: 100%;
      padding: 0.5em 1em;
      background-color: #DFE899;
      display:flex;
      // justify-content:center;
      align-items: center;
      cursor: pointer;
    }

  .confirmar{
    position: relative;
    cursor: pointer;
    font-size: 1.4em;
    color: #850052;
    font-weight: 500;
    span{
      text-decoration: underline;
    }
  }

  .feed{
    position: relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 96%;
    padding: 1em;
    background-color: #ECECEC;
    left: 4%;
    margin-top: 2em;

    .imgX{
      position: relative;
      width:5%;
    }
  
    img{
      position: absolute;
      width:4em;
      height: 4em;
      object-fit: contain;
      left: -2em;
      top: -1em;
    }

    .text{
      position: relative;
      width: 95%;

      .bold{
        font-weight: 500;
      }
    }
  }
}


.containerExercicio{
  position: relative;
  width:100%;
  
  .exercicioInit{
    position: relative;
    width:100%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0); 
    padding: 1.5em;

    .inativ{
      pointer-events: none;
    }
    
    .indice{
      position: absolute;
      width: 1.5em;
      height: 1.5em;
      top: -0.75em;
      left: -0.75em;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #EB0088;
      color: #fff;
      font-size: 2em;
      line-height: 1;
      padding-top: 0.3em;
      font-weight: 800;
    }

    .title{
      position: relative;
      width:100%;
      margin-bottom: 0.5em;
    }

    .alter{
      position: relative;
      width:100%;
      display:flex;
      justify-content:flex-start;
      align-items: center;
      margin-bottom: 0.5em;
      cursor: pointer;

      &.alterCustom{
        align-items: flex-start;
      }

      &:last-child{
        margin-bottom: 0em;
      }

      .selector{
        position: relative;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        border: 0.1em solid #003660;
        margin-right: 0.5em;
        top: -0.2em;

        &.pos{
          &::before{
            position: absolute;
            content: "\2713";
            width: 1.4em;
            height: 1.4em;
            font-size: 1.2em;
            line-height: 1em;
            border-radius: 50%;
            color: #8E9C28;
            top: 50%;
            margin-top: -0.7em;
            left: -1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        &.neg{
          &::before{
            position: absolute;
            content: "\00D7";
            width: 1.4em;
            height: 1.4em;
            font-size: 1.2em;
            line-height: 1em;
            border-radius: 50%;
            color: #E32E53;
            top: 50%;
            margin-top: -0.7em;
            left: -1.2em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

      }

      &.active,
      &:hover{
        .selector{
          background-color: #003660 !important;
        }
      }

    }

  }

  .btnConfrmar{
    position: relative;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
    
    img{
      position: relative;
      height: 3em;
      object-fit:contain;
      cursor: pointer;
    }
  }

  .feed{
    position: relative;
    width: 100%;
    background-color: #fff;
    padding: 1em 1em 1em 3em;

    .ico{
      position:absolute;
      width: 3em;
      height: 3em;
      top: 50%;
      margin-top: -1.5em;
      left: -1.5em;
      
      img{
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

}
.clockBtn,
.openModal{
  cursor: pointer;
}

.icons{
  z-index: 22;
}

.inativo{
  pointer-events: none;
  filter: grayscale(100%);
  opacity: 0.5;
}

.cloneItens {
  opacity: 0.15;
  pointer-events: none;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE */
}